<script lang="ts">
    import { onMount, createEventDispatcher } from "svelte";
    import Permission from "./Permission";

    const dispatch = createEventDispatcher();

    export let permission!: Permission;

    let buttonLabel: string = "Activate";

    onMount(async () => {
        try {
            buttonLabel = browser.i18n.getMessage("request") + " " + permission.host;
        } catch {
            buttonLabel = "Activate on " + permission.host;
        }
    });

    async function requestHostPermission() {
        let newPermission = await browser.permissions.request({ origins: [permission.pattern] });

        if (newPermission) {
            dispatch("addPermission", { permission });
        }
    }

    function onClick() {
        requestHostPermission();
    }
</script>

<template>
    {#if permission.host}
        <tr>
            <td>{permission.host}</td>
            <td>
                <button class="request-button" on:click={onClick} type="button" title={buttonLabel}>❔</button>
            </td>
        </tr>
    {/if}
</template>

<style>
        .request-button:hover {
        background-color: rgba(0, 255, 0, 0.2);
    }
</style>
