<script lang="ts">
    import { onMount } from "svelte";
    import Permission from "./lib/Permission";
    import PermissionButton from "./lib/PermissionButton.svelte";
    import PermissionRow from "./lib/PermissionRow.svelte";

    let loaded: boolean = false;
    let permissions: Permission[] = [];
    let permission: Permission;

    onMount(async () => {
        await getCurrentPermission();
        await fillPermissions();
        loaded = true;
    });

    async function getCurrentPermission(): Promise<void> {
        const gettingCurrent: browser.tabs.Tab[] = await browser.tabs.query({ active: true });
        let currentUrl: URL | null = null;
        for (const tab of gettingCurrent) {
            currentUrl = new URL(tab.url!);
        }
        let host;
        if (currentUrl) {
            host = currentUrl.host;
        };
        if (host) {
            permission = new Permission(host);
        }
    }

    async function fillPermissions(): Promise<void> {
        const gettingAll: browser.permissions.AnyPermissions | null = await browser.permissions.getAll() ?? null;
        if (!gettingAll || !gettingAll.origins) {
            return;
        }
        for (const permission of gettingAll.origins) {
            permissions.push(Permission.getPermissionFromPattern(permission));
        }
    }

    function addPermission(event: any) {
        const addedPermission: Permission = event.detail.permission;
        loaded = false;
        browser.scripting
            .registerContentScripts([
                {
                    id: addedPermission.scriptId,
                    matches: [addedPermission.pattern],
                    js: ["content.js"],
                    runAt: "document_idle",
                },
            ])
            .then(() => {
                permissions = [...permissions, addedPermission];
            })
            .catch((err) => {
                console.warn("Permission not granted due to\n", err);
            })
            .finally(() => {
                loaded = true;
            });
    }

    function removePermission(event: any) {
        const removedPermission: Permission = event.detail.permission;
        loaded = false;
        browser.scripting
            .unregisterContentScripts({ ids: [removedPermission.scriptId] })
            .then(() => {
                permissions = permissions.filter((permission) => permission !== removedPermission);
            })
            .catch((err) => {
                console.warn("Permission not removed due to\n", err);
            })
            .finally(() => {
                loaded = true;
            });
    }

    function havePermission(): boolean {
        return permissions.some((grantedPermission) => grantedPermission.host === permission.host);
    }
</script>

<main>
    <h1>GitLab adjunct</h1>

    {#if loaded}
        <table>
            {#if !havePermission()}
                <PermissionButton {permission} on:addPermission={addPermission} />
            {/if}
            {#each permissions as grantedPermission}
                <PermissionRow permission={grantedPermission} on:removePermission={removePermission} />
            {/each}
        </table>
    {/if}
</main>

<style>
    h1 {
        font-size: x-large;
        color: #5b0000;
    }
    @media (prefers-color-scheme: dark) {
        h1 {
            color: #ccc;
        }
    }
</style>
